body {
    background-color: #0A0A0A;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

#ui {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
}

#canvas {
    position: absolute;
}

.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
        gap: 8px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.glassy {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
}

.pause {
    min-width: 20vw;
}

button {
    background-color: #1e1e1e;
    border: rgba(255, 255, 255, 0.4) 1px solid;
    cursor: pointer;
    padding: 8px;
    min-height: 48px;
    min-width: 72px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #2e2e2e;
}